---
import Layout from '../layouts/Layout.astro';
import ComputerImg from '../components/icons/ComputerImg.astro';
import PillAnchor from '../components/PillAnchor.astro';
import PillButton from '../components/PillButton.astro';
import GitHubIcon from '../components/icons/GitHubIcon.astro';
import LinkedInIcon from '../components/icons/LinkedInIcon.astro';
import Mail from '../components/icons/MailIcon.astro';
import Copy from '../components/icons/CopyIcon.astro';
import CopyCheck from '../components/icons/CopyCheckIcon.astro';
import Experience from '../components/Experience.astro';
import Contact from '../components/Contact.astro';
---

<Layout
  title="Emersoftware - Emerson Salazar Rubilar"
  description="Emerson Salazar Rubilar (emersoftware) Desarrollador Web Fullstack IA Python de Concepción, Chile. Haz tu proyecto web con este programador con tecnologías como JavaScript, NextJS, ReactJS, Astro o Python. Desarrolla landing pages, ecommerce o aplicaciones basadas en inteligencia artificial."
>
  <main class="mx-4 md:mx-auto md:w-3/5 lg:w-1/2">
    <section class="flex flex-col items-center justify-center" id="inicio" data-section="inicio">
      <ComputerImg
        class="fade-in mx-auto h-auto w-1/2 text-forest md:mt-6 lg:w-1/3 dark:text-white"
      />

      <h1 class="title fade-in-delay-100 mt-8 text-center text-6xl md:mt-10 lg:text-8xl">
        emersoftware
      </h1>

      <div
        class="fade-in-delay-200 mr-4 mt-4 flex w-full flex-col justify-center space-x-2 text-center sm:mt-10 md:mt-12 md:flex-row lg:mt-16"
      >
        <p class="whitespace-nowrap text-2xl lg:text-[36px]">Emerson Salazar Rubilar</p>
        <p class="hidden text-2xl md:inline-block lg:text-[36px]">✹</p>
        <p class="whitespace-nowrap text-xl md:text-2xl lg:text-[36px]">Ingeniero de Software</p>
      </div>

      <p class="text-md fade-in-delay-300 mt-4 text-balance text-center md:mt-8 lg:text-2xl">
        Software Engineer. Interesado en agentización de LLMs y recuperación de información; RAG
        (Embeddings), Knowledge Graphs, etc.
      </p>

      <nav
        class="fade-in-delay-400 mt-4 flex w-fit flex-wrap justify-center gap-x-2 gap-y-2 md:mt-8 md:flex-nowrap md:gap-x-3 lg:gap-x-6"
      >
        <PillAnchor href="https://github.com/emersoftware">
          <GitHubIcon class="size-4 lg:size-6" />
          GitHub
        </PillAnchor>
        <PillAnchor href="https://www.linkedin.com/in/emerson-salazar-rubilar-149468220/">
          <LinkedInIcon class="size-4 lg:size-6" />
          LinkedIn
        </PillAnchor>
        <PillButton id="emailButton" class="">
          <Mail class="size-6 lg:size-8" />
          e.benjaminsalazarrubilar@gmail.com
          <Copy id="copyEmail" class="size-6 lg:size-8" />
          <CopyCheck id="copyEmailCheck" class="hidden size-6 lg:size-8" />
        </PillButton>
      </nav>
    </section>

    <section class="slide-up" id="experiencia" data-section="experiencia">
      <h2 class="title mt-16 text-4xl md:mt-20 lg:mt-24 lg:text-6xl">Experiencia</h2>
      <Experience />
    </section>

    <section class="slide-up-delay-200" id="contacto" data-section="contacto">
      <h2 class="title mt-16 text-4xl md:mt-20 lg:mt-24 lg:text-6xl">Contacto</h2>
      <Contact />
    </section>
  </main>
</Layout>

<script>
  const button = document.querySelector('#emailButton');
  const email = 'e.benjaminsalazarrubilar@gmail.com';
  const copyEmail = document.querySelector('#copyEmail');
  const copyEmailCheck = document.querySelector('#copyEmailCheck');

  button.addEventListener('click', () => {
    navigator.clipboard.writeText(email).then(() => {
      copyEmail.classList.add('hidden');
      copyEmailCheck.classList.remove('hidden');
      setTimeout(() => {
        copyEmail.classList.remove('hidden');
        copyEmailCheck.classList.add('hidden');
      }, 2000);
    });
  });
</script>
