---
import Layout from '../layouts/Layout.astro';
import ComputerImg from '../components/icons/ComputerImg.astro';
import PillAnchor from '../components/PillAnchor.astro';
import PillButton from '../components/PillButton.astro';
import GitHubIcon from '../components/icons/GitHubIcon.astro';
import LinkedInIcon from '../components/icons/LinkedInIcon.astro';
import Mail from '../components/icons/MailIcon.astro';
import Copy from '../components/icons/CopyIcon.astro';
import CopyCheck from '../components/icons/CopyCheckIcon.astro';
import Experience from '../components/Experience.astro';
import Contact from '../components/Contact.astro';
---

<Layout 
	title="Emersoftware - Emerson Salazar Rubilar" 
	description='Emerson Salazar Rubilar (emersoftware) Desarrollador Web Fullstack de Concepción, Chile. Haz tu proyecto con este programador con tecnologías como JavaScript, NextJS, ReactJS, Astro o Python. Desarrolla landing pages, ecommerce o aplicaciones basadas en inteligencia artificial.'>
	<main class="w-full mx-2 md:mx-auto md:w-3/5 lg:w-1/2">
		<section
			class="flex flex-col items-center justify-center"
			id="inicio"
			data-section="inicio"
		>
			<ComputerImg class="mx-auto w-1/2  lg:w-1/3 h-auto text-forest dark:text-white mt-16 md:mt-20" />
			
			<h1 class="text-6xl lg:text-8xl text-center title mt-12">emersoftware</h1>

			<div class="w-full flex flex-row justify-between mt-14">
				<p class="text-2xl lg:text-[36px]">Emerson Salazar Rubilar</p>
				<p class="text-2xl lg:text-[36px]">Desarrollador Web</p>
			</div>
			
			<p class="mx-auto lg:text-3xl text-balance mt-8">
				Me gusta crear cosas con software y espero que pronto me paguen por ello. Casi Ingeniero Civil Informático.
			</p>

			<nav class="flex flex-wrap md:flex-nowrap gap-6 mt-4 md:mt-8 justify-center">
				<PillAnchor href="https://github.com/emersoftware">
					<GitHubIcon class="size-4 lg:size-6" />
					GitHub
				</PillAnchor>
				<PillAnchor href="https://www.linkedin.com/in/emerson-salazar-rubilar-149468220/">
					<LinkedInIcon class="size-4 lg:size-6" />
					LinkedIn
				</PillAnchor>
				<PillButton id="emailButton" class="">
					<Mail class="size-4" />
					e.benjaminsalazarrubilar@gmail.com
					<Copy id="copyEmail" class="" />
					<CopyCheck id="copyEmailCheck" class="hidden" />
				</PillButton>
			</nav>
		</section>

		<section
			class=""
			id="experiencia"
			data-section="experiencia"
		>
			<h2 class="text-4xl lg:text-6xl title mt-8 lg:mt-24">Experiencia</h2>
			<Experience />
		</section>


		<section
			class=""
			id="contacto"
			data-section="contacto"
		>
			<h2 class="text-4xl lg:text-6xl title mt-8 lg:mt-24">Contacto</h2>
			<Contact />
		</section>

	</main>
</Layout>

<script>
	const button = document.querySelector('#emailButton');
	const email = 'e.benjaminsalazarrubilar@gmail.com';
	const copyEmail = document.querySelector('#copyEmail');
	const copyEmailCheck = document.querySelector('#copyEmailCheck');

	button.addEventListener('click', () => {
		navigator.clipboard.writeText(email).then(() => {
			copyEmail.classList.add('hidden');
			copyEmailCheck.classList.remove('hidden');
			//button.classList.remove('text-white border-white');
			//button.classList.add('text-tangerine border-tangerine dark:text-mint dark:border-mint');
			setTimeout(() => {
				copyEmail.classList.remove('hidden');
				copyEmailCheck.classList.add('hidden');
				//button.classList.add('text-white border-white');
				//button.classList.remove('text-tangerine border-tangerine dark:text-mint dark:border-mint');
			}, 2000);
		});
	});
</script>