---
interface Props {
  success?: string;
  id?: string;
  class?: string;
}

const { success = 'false' } = Astro.props;
const isSuccess = success === 'true';
---

<span
  class={`
        items-center
        mt-4
        py-4
        px-8
        rounded-xl
        border-2
        transition
        flex 
        hidden
        fade-in
        ${
          isSuccess
            ? 'text-white bg-tangerine dark:bg-mint dark:text-black dark:border-mint'
            : 'text-white bg-red border-white dark:bg-red dark:border-white justify-center'
        }
    `}
  {...Astro.props}
>
  <slot />
</span>
