---
interface Props {
  success?: boolean;
  id?: string;
  class?: string;
}

const { success = false, id, class: className = '' } = Astro.props;
---

<div
  id={id}
  class:list={[
    'mt-4 hidden flex items-center rounded-xl border px-8 py-4 text-white transition fade-in',
    success ? 'bg-orange-500 border-orange-500' : 'bg-red border-red justify-center',
    className,
  ]}
>
  <slot />
</div>
