<form
 class="
    bg-white dark:bg-black
    rounded-lg
    border-2 border-black dark:border-white
    pt-4 pb-4 px-8 mt-4
    flex flex-col
    w-full
    mb-16
">
    <label class="mt-2" for="firstname">Nombre</label>
    <input class="border-b w-1/2" type="text" name="firstname" />
    <label class="mt-2"for="lastname">Apellido</label>
    <input class="border-b w-1/2"type="text" name="lastname" />
    <label class="mt-2"for="email">Email</label>
    <input class="border-b w-1/2"type="email" name="email" />
    <label class="mt-2"for="message">Mensaje</label>
    <textarea class="border-2 h-16 rounded-lg mt-2 p-2" name="message" id="message" cols="30" rows="10"></textarea>
    <button 
        class="self-center mt-4 py-2 w-1/2
            bg-tangerine dark:bg-mint
            hover:dark:bg-mint/90 hover:bg-tangerine/90
            text-white dark:text-black 
            rounded-full" 
        type="submit"
    >
        Enviar
    </button>
</form>