---
import Alert from './Alert.astro';
import ContactForm from './ContactForm.astro';
---

<Alert id="alertSuccessEmail" success="true">
  Gracias por tu mensaje! <br /> Te responderé lo antes posible.
</Alert>
<Alert id="alertErrorEmail">
  Hubo un error al enviar tu mensaje, por favor intenta de nuevo o contactame por otro medio
</Alert>
<div class="slide-up-delay-300">
  <ContactForm />
</div>
