---

---

<form
    method="POST"
    class="
        bg-white dark:bg-black
        rounded-lg lg:rounded-xl
        border-2 border-black dark:border-white
        pt-4 pb-4 px-8 mt-4 lg:mt-8 lg:pt-10 lg:pb-8 lg:px-12
        flex flex-col
        lg:text-xl
        w-full
        mb-16"
    
>
    <h3 class="text-left lg:text-2xl">Envíame un mensaje</h3>
    <label class="mt-2 lg:mt-8" 
        for="firstname"
    >Nombre</label>
    <input 
        class="border-b w-1/2 bg-white dark:bg-black" 
        type="text" 
        name="firstname"
        id="firstname"
        placeholder="Ingresa tu nombre"
    />
    <label 
        class="mt-2 lg:mt-8"
        for="lastname"
    >Apellido</label>
    <input
        class="border-b w-1/2 bg-white dark:bg-black"
        type="text"
        name="lastname"
        id="lastname"
        placeholder="Ingresa tu apellido"
    />
    <label
        class="mt-2 lg:mt-8"
        for="email"
    >Email</label>
    <input
        class="border-b w-1/2 bg-white dark:bg-black"
        type="email"
        name="email"
        id="email"
        placeholder="Ingresa tu email"
    />
    <label
        class="mt-2 lg:mt-8"
        for="message"
    >Mensaje</label>
    <textarea 
        class="border-2 h-16 rounded-lg mt-2 p-2 bg-white dark:bg-black"
        name="message"
        id="message"
        cols="30"
        rows="10">
    </textarea>
    <button 
        class="self-center mt-4 py-2 w-1/2 lg:w-1/3 lg:mt-6
            bg-tangerine dark:bg-mint
            hover:dark:bg-mint/90 hover:bg-tangerine/90
            text-white dark:text-black lg:text-2xl
            rounded-full" 
        type="submit"
    >
        Enviar
    </button>
</form>

<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        await fetch('/email', {
            method: 'POST',
            body: formData,
        }).then(response => {
            if (response.ok) {
                alert('Gracias por tu mensaje, te responderé lo antes posible.');
                form.reset();
            } else {
                alert('Hubo un error al enviar tu mensaje, por favor intenta de nuevo.');
            }
        })
    })