---
interface Props {
  title: string
  description: string
  link?: string
  date: string
}

const { title, description, link, date } = Astro.props
---

<div
  class="absolute w-8 h-0 mt-2.5 -start-4 border border-black dark:border-white"
>
</div>
<h3 class="text-xl lg:text-3xl ml-4">
  {title}
</h3>
<time
  class="mt-4 text-sm lg:text-xl leading-none ml-4"
  >{date}</time
>
<p class="mt-4 lg:text-2xl text-pretty ml-4">
  {description}
</p>
<ul class="mt-2 lg:mt-4 ml-4 flex flex-row flex-wrap gap-2 lg:gap-4">
    <slot />
</ul>