---
import ExperienceItem from "./ExperienceItem.astro"
import Pill from "./Pill.astro"
---

<ol class="relative border-s-2 border-black dark:border-white mt-8 space-y-12">
  <li class="ms-4">
	<ExperienceItem
		date="may. 2024 - actualidad"
		title="Pirrol LLC | Backend Developer"
		description="Diseño y desarrollo de agente conversacional (chatbot) para UpWorth. Implementación del agente utilizando Langgraph y Vertex AI. Desarrollo de aplicación de preview con NextJS.">
		<Pill>Langgraph</Pill>
		<Pill>Vertex AI</Pill>
		<Pill>Python</Pill>
		<Pill>Langchain</Pill>
	</ExperienceItem>
  </li>
  <li class="ms-4">
    <ExperienceItem 
		date="ago. 2022 - ene. 2023" 
		title="Adestos | Practicante" 
		description="Desarrollo frontend con NextJS. Utilicé NextJS, ReactJS y TailwindCSS para el desarrollo de la interfaz. Desarrollo y mantenimiento de sistemas con Laravel y JQuery. Además diseñé modelo de base de datos para proyecto en etapa de ideación.">
		<Pill>NextJS</Pill>
		<Pill>Laravel</Pill>
		<Pill>MongoDB</Pill>
		<Pill>JQuery</Pill>
    </ExperienceItem>
  </li>
  <li class="ms-4">
    <ExperienceItem 
		date="sept. 2021 - may. 2022" 
		title="IdeaCode | Practicante" 
		description="Desarrollo y mantenimiento de dashboard de administración de sistema IoT con Laravel. Realicé autenticación de usuarios, implementación de notificaciones push con Firebase Cloud Messaging, desarrollé servicios API REST consumidos por aplicación móvil y cron jobs para el envio de notificaciones.">
		<Pill>Laravel</Pill>
		<Pill>MySQL</Pill>
		<Pill>JavaScript</Pill>
		<Pill>Firebase</Pill>
    </ExperienceItem>
  </li>
</ol>