---
const currentYear = new Date().getFullYear();
---

<footer class="z-50 mt-16 py-8">
  <div
    class="mx-auto flex w-full flex-col items-center justify-between gap-4 px-4 md:w-3/5 md:flex-row lg:w-1/2"
  >
    <div>
      <p class="text-sm text-graphite-600">
        © {currentYear} Emerson Salazar Rubilar
      </p>
    </div>
    <div class="flex gap-6">
      <a
        href="https://github.com/emersoftware"
        class="text-graphite-600 transition-colors hover:text-green-500"
      >
        GitHub
      </a>
      <a
        href="https://www.linkedin.com/in/emerson-salazar-rubilar-149468220/"
        class="text-graphite-600 transition-colors hover:text-green-500"
      >
        LinkedIn
      </a>
    </div>
  </div>
</footer>
