---
const currentYear = new Date().getFullYear();
---

<footer class="border-gray-800 mt-16 border-t bg-black py-8 text-white">
  <div
    class="mx-auto flex w-full flex-col items-center justify-between gap-4 px-4 md:w-3/5 md:flex-row lg:w-1/2"
  >
    <div>
      <p class="text-gray-300 text-sm">
        © {currentYear} Emerson Salazar Rubilar
      </p>
    </div>
    <div class="flex gap-4">
      <a
        href="https://github.com/emersoftware"
        class="text-gray-300 transition-colors hover:text-white"
      >
        GitHub
      </a>
      <a
        href="https://www.linkedin.com/in/emerson-salazar-rubilar-149468220/"
        class="text-gray-300 transition-colors hover:text-white"
      >
        LinkedIn
      </a>
    </div>
  </div>
</footer>
