<nav class="flex justify-center items-center mx-auto mt-8 md:mt-12">
    <ul class="flex flex-row space-x-8 text-md">
        <a href="#inicio" class="hover:underline">Inicio</a>
        <a href="#experiencia" class="hover:underline">Experiencia</a>
        <a href="#proyectos" class="hover:underline">Proyectos</a>
        <a href="#contacto" class="hover:underline">Contacto</a>
    </ul>
</nav>