<li
  class={`
    dark:bg-black bg-white
    border border-forest dark:border-white rounded-full
    flex justify-center items-center gap-x-2
    py-1 px-1 md:py-2 md:px-3 lg:px-6
    text-xs md:text-sm lg:text-xl
    text-forest dark:text-white
    transition
  `}
  {...Astro.props}
>
  <slot />
</li>