---
interface Props {
  class?: string;
}
---

<li
  class={`
    bg-graphite-100/60
    rounded-full
    flex justify-center items-center
    py-0.5 px-2.5
    text-xs
    text-graphite-500
    transition
  `}
  {...Astro.props}
>
  <slot />
</li>
