---
import TerminalIcon from '../components/icons/TerminalIcon.astro';
---

<button
  id="terminal-button"
  class="border-1 fixed bottom-8 right-8 rounded-full border border-white bg-forest p-2 text-white shadow-sm shadow-white transition-all duration-200 hover:border-tangerine hover:text-tangerine hover:shadow-md hover:shadow-tangerine dark:border-mint dark:bg-black dark:text-mint dark:hover:border-white dark:hover:text-white dark:hover:shadow-white"
>
  <TerminalIcon class="h-6 w-6" />
</button>
